{% extends "base.html"%}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <form method="post">
        <h2 align="center">Notes</h2>
        <ul class="list-group list-group-flush" id="notes">
            {% for note in user.notes%}
            <li class="list-group-item mb-3">{{ note.data}}
                <svg class="" style="cursor: pointer; float:inline-end;"  onclick="deleteNote({{ note.id}})" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </li>
            {% endfor%}
        </ul>
        <div class="flex items-center gap-2 mt-4">
            <textarea name="note" id="note" class="form-control mb-2"></textarea>
            <button style="float: right;" type="submit" class="btn btn-primary">add note</button>
        </div>
    </form>
</div>

{% endblock %}
